html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;    
}

.container {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    padding: 16px;
    font-size: 18px;
}

ul {
    list-style: none;    
    display: flex;
    font-weight: 300;    
}

.header,
.hero {
    padding: 0 300px;    
    background-color: #1f2937;    
    color: #e5e7eb;
    justify-content: space-between;
}

.header {
    display: flex; 
    height: 56px;       
}

.header h3 {
    font-size: 24px;
    color: #f9f2f8;
}


.header-logo,
.header-links {
    display: flex;
    align-items: center;
}

.hero {
    display: flex;
    height: 350px;
    align-items: center;        
}

.hero-content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 56px;
    min-width: 350px;
    max-width: 530px;
}

.hero-picture {
    width: 350px;    
    height: 180px;
    background-color: grey;
    flex-shrink: 0;
}

.hero h1 {
    margin: 0;
    padding: 0;
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-content p {
    color: #e5e7eb;    
    font-size: 18px;
}

.hero-button {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 8px 26px;
    border: none;
    color: #e5e7eb;
}

.info-boxes-container {
    text-align: center;
    padding: 0 350px;
    height: 400px;       
}

.info-boxes {
    display: flex;
    justify-content: center;    
}

.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 32px;
    max-width: 130px;
    font-size: 14px;
}

.info-box-pic {
    height: 125px;
    width: 125px;
    border-style: solid;
    border-width: 4px;
    border-color: #3882f6;
    border-radius: 8px;
}

.boxes-title {
    display: block;
    padding: 56px 0;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.quote-box {
    display: flex;
    padding: 0 350px;
    height: 350px;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    font-style: italic;
    font-weight: 300;
    font-size: 32px;
    color: #1f2937;
}

.signature {
    font-size: 18px;
    font-weight: 900;
    align-self: flex-end;
}

.footer {
    height: 56px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #1f2937;
    font-size: 18px;    
    flex-wrap: wrap;
    color: #e5e7eb;
}

.cto-box {
    display: flex;
    padding: 0 350px;
    height: 300px;
    flex-wrap: wrap;
    align-content: center;    
}

.cto {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 102px;
    background-color: #3882f6;
    border-radius: 8px;
    width: 100%;
    padding: 8px 32px;
}

.cto-text {
    max-width: 350px;
    font-size: 16px;
    color: #e5e7eb;
}

.button-white {
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

.cto-text h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
}